---
import Form from "@components/headers/RForm";
import Layout from "@layouts/Layout.astro";
// import Form  from "@components/headers/Form"

 ---

<Layout title="Create Form">
    <div class="flex flex-wrap ">
        <div class="w-full lg:w-1/2 my-6 pr-0 lg:pr-2 mx-auto">
            <div class="leading-loose">
                 <Form/>
            </div>
        </div>
    </div>
</Layout>